
<div class="row">
    <div class="col s6">
        <h1>Профиль</h1>
        {{#if user.avatarUrl}}
            <div class="avatarBorder">
                <img src="/{{user.avatarUrl}}" alt="avatar-{{user.name}}">
            </div>
        {{else}}
            <div>
                <div class="avatarBorder">
                    <img src="../images/icons/default-avatar.png" alt="No Avatar" class="avatar">
                </div>
                <p>Аватар не установлен</p>
            </div>
        {{/if}}

        <div class="input-field">
            <input id="email" name="email" type="text" class="validate" value="{{user.email}}" disabled>
            <label for="email">Email</label>
            <span class="helper-text" data-error="Имя не может быть пустым"></span>
        </div>

        <form action="/profile" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="input-field col s6">
                    <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
                    <label for="name">Имя</label>
                    <span class="helper-text" data-error="Имя не может быть пустым"></span>
                </div>

                <div class="file-field input-field col s6">
                    <div class="btn">
                        <span>Аватар</span>
                        <input type="file" name="avatar">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>


            <h5>Адрес доставки</h5>
                <div class="input-field">
                    <input id="country" name="country" type="text" class="validate" value="{{user.address.country}}">
                    <label for="country">Страна/Регион</label>
                </div>
                <div class="input-field">
                    <input id="fullAddress" name="fullAddress" type="text" class="validate" value="{{user.address.fullAddress}}">
                    <label for="fullAddress">Введите полный адрес</label>
                </div>

            <input type="hidden" name="email" value="{{user.email}}">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn">Сохранить</button>
        </form>
    </div>



    <div class="col s6">
        <h1>Заказы:</h1>
        {{#if orders.length}}
            {{#each orders}}
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Заказ:
                                    <small>{{_id}}</small>
                                </span>
                                <p class="date">{{date}}</p>
                                <p><em>{{user.name}} </em>({{user.userId.email}})</p>
                                <ol>
                                    {{#each animals}}
                                        <li>
                                            {{animal.title}} (x <strong>{{count}}</strong>)
                                        </li>
                                    {{/each}}
                                </ol>
                                <hr>
                                <p>Цена: <span class="price">{{price}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>Заказов еще нет</p>
        {{/if}}
    </div>
</div>